.alert {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    transition: background-color 0.3s;
    align-items: center;
}

.alert button {
    border: none;
    background-color: transparent;
    color: #2f2f2f;
    cursor: pointer;
    font-weight: bold;
}

.red {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.240);
}

.yellow {
    border: 2px solid rgb(255, 208, 0);
    background-color: rgba(255, 255, 0, 0.240);
}

.green {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.240);
}

h1{
    text-align: center;
}

.form{
    align-items:center;
    text-align:center;
}
.form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}
.form button {
    padding: 10px 20px;
    border: none;
    background-color: #3e69d7;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.container {
    background-color:aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f2f2f278;
    width: 90%;
    max-width: 500px;
}

.tareas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}